@font-face {
  font-family: "Incosolata";
  src: url(../fonts/Inconsolata.otf) format("opentype");
}

body {
  padding-top: 50px;
}
.starter-template {
  padding: 25px 0px 40px 0px;
}
#loader {
    color: #fff;
    float:left;
    display:none;
    margin-left: -30px;
    top: 0px;
}

.repo-nav {
    display:block;
    width: 400px;
    float:right;
    background: #eaeaea;
    border-bottom:solid 1px #ccc;
    border-right:solid 1px #ccc;
    margin-top: 26px;
}
.repo-path {
    margin-bottom: 0;
}

.repo-nav li a {
    font-size: 14px;
    padding:5px 15px !important;
    color: #666;
    line-height: 16px;
}

.repo-nav li a.txt i {
    margin-right: 5px;
}
.repo-nav li a:hover {
    background-color: #efefef;
}
.repo-nav li a:active {
    color: #333;
}
.repo-nav li.active a {
    background-color: #fff;
}

ul.commits-list {
    display:block;
    width:100%;
    list-style:none;
    list-style-type: none;
    margin:0;
    padding:0;
    border:solid 1px #eee;
    max-height: 430px;
    overflow-x: auto;
    margin-bottom:40px;
}

ul.commits-list li {
    display: block;
    border-bottom: solid 1px #eee;
    margin:0;
    padding:10px;
}

ul.commits-list li.active {
    /* background-color: #c4e3f3; */
    border-left: solid 2px #2aabd2;
}

ul.commits-list li:active {
    background-color: #eee;
}

p.commit-infos {
    padding: 10px; 
    background-color: #eee; 
    margin-bottom:0;
    word-wrap: break-word;
    line-break: strict;
    height: 40px;
    overflow:hidden;
    line-height: 23px;
}
p.commit-infos.collapsed {
    height:auto;
}
.commit-collapse {
    float:right;
}
.commit-txt {
    font-family: Inconsolata, "Courier New", Courier, monospace;
    font-size:14px;
    white-space: pre-wrap;
}
pre {
    padding:0;
    margin:0;
    font-size:inherit;
    color:inherit;
    background-color: transparent;
    border: none;
}
code#blobCtx {
    font-family: Inconsolata, "Courier New", Courier, monospace;
    font-size: 14px;
    word-break: keep-all;
    line-break: strict;
    white-space: pre;
    overflow-x:auto;
}

td.ln {
    width: 40px;
    text-align:center;
    background-color: #fafafa;
    border-right:solid 1px #eaeaea;
    color: #aaa;
    user-select :none;
    -o-user-select :none;
    -webkit-user-select :none;
    -moz-user-select: -moz-none;
    font-family: "Courier New", monospace;
    padding-top:7px;
}
table.blob {
    width:100%;
    border:solid 3px #eee;
    margin-bottom: 40px;
}
table.blob td {
    vertical-align: top;
}
table.blob td.contents {
    overflow-x: auto;
    max-width: 500px;
}
table.blob td.ln span {
    display:block;
    text-align: right;
    line-height: 20px;
    padding-right: 5px;
    font-family: Incosolata, "Courier New",Courier,monospace;
    font-size: 14px;
}

div.markdown {
    word-break:break-all;
    margin-bottom:40px;
}

div.repo-title {
    display:block;
}

.repo-title h1 {
    float:left;
    margin-bottom:0;
    padding-bottom:0;
}
.repo-title p {
    margin:0;
    padding:0;
}
.repo-title p.help-clone {
    float:right;
    color: #999;
    font-family: Incosolata, "Courier New",Courier,monospace;
}
.main-view {
    display:none;
}
.main-view.visible {
    display: block;
}

table.difftable {
    min-width:100%;
    font-size:14px;
    overflow-x: auto;
    margin-bottom: 20px;
    border: solid 1px #eaeaea;
}
table.difftable tr, table.difftable td {
    padding:0px 3px;
    font-family: Incosolata, "Courier New",Courier,monospace !important;
    font-size: 14px !important;
}
table.difftable code {
    font-weight: normal;
    color: inherit;
    padding:0;
    white-space: nowrap;
}
table.difftable td.code {
    white-space: nowrap;
}
table.difftable tr.infos {
    background-color: #ececec;
}
table.difftable tr.infos td {
    color: #999 !important;
    font-weight: bold;
}
table.difftable tr.infos td.ln {
    background-color: #ececec;
}
table.difftable tr.addition {
    background-color: #D2FFAA;
}
table.difftable tr.deletion {
    background-color: #FCA9A9;
}
table.difftable tr:hover {
    background-color: #fdf6e3 !important;
}
table.difftable tr:hover td.ln {
    background-color: #fdf6e3 !important;
}
ul.diff-files {
    list-style:none;
    list-style-type:none;
    list-style-position:inside;
    font-size: 12px;
    margin-bottom: 40px;
    padding:0;
}
ul.diff-files li { padding: 0; margin: 0; }
ul.diff-files li span.stats {
    color: #999;
}
ul.diff-files li.stats span {
    display:inline-block;
    padding-top: 5px;
    border-top: solid 1px #ccc;
    margin-top: 5px;
}

.commit-head {
    background-color: aliceblue;
    padding: 10px;
}
.commit-head p { margin: 0; }
.commit-infos {
    padding: 10px;
    font-size:12px;
}
.commit-infos p.author {
    font-size:14px;
    color: #999;
}
.commit-infos p.author span {
    color: #666;
    font-weight:bold;
}
.commit-infos p.author i {
    color: #000;
    margin-right:5px;
    font-size: 16px;
}