@font-face {
  font-family: "Incosolata";
  src: url(../fonts/Inconsolata.otf) format("opentype");
}

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 0px 20px 0px;
}
#loader {
    color: #fff;
    float:left;
    display:none;
    margin-left: -30px;
    top: 0px;
}

.repo-nav {
    display:block;
    width: 400px;
    float:right;
    background: #eaeaea;
    border-bottom:solid 1px #ccc;
    border-right:solid 1px #ccc;
    margin-top: 26px;
}
.repo-path {
    margin-bottom: 0;
}

.repo-nav li a {
    font-size: 14px;
    padding:5px 15px !important;
    color: #666;
    line-height: 16px;
}

.repo-nav li a.txt i {
    margin-right: 5px;
}
.repo-nav li a:hover {
    background-color: #efefef;
}
.repo-nav li a:active {
    color: #333;
}
.repo-nav li.active a {
    background-color: #fff;
}

ul.commits-list {
    display:block;
    width:100%;
    list-style:none;
    list-style-type: none;
    margin:0;
    padding:0;
    border:solid 1px #eee;
    max-height: 430px;
    overflow-x: auto;
    margin-bottom:40px;
}

ul.commits-list li {
    display: block;
    border-bottom: solid 1px #eee;
    margin:0;
    padding:10px;
}

ul.commits-list li.active {
    /* background-color: #c4e3f3; */
    border-left: solid 2px #2aabd2;
}

ul.commits-list li:active {
    background-color: #eee;
}

p.commit-infos {
    padding: 10px; 
    background-color: #eee; 
    margin-bottom:0;
    overflow-x: auto;
}
.commit-txt {
    font-family: Inconsolata, "Courier New", Courier, monospace;
    font-size:14px;
    white-space: pre;
}
pre {
    padding:0;
    margin:0;
    font-size:inherit;
    color:inherit;
    background-color: transparent;
    border: none;
}
code, pre {
    font-family: inherit;
    border-radius:0;
}
code#blobCtx {
    font-family: Inconsolata, "Courier New", Courier, monospace;
    overflow-x: auto;
}

td.ln {
    width: 40px;
    text-align:center;
    background-color: #fafafa;
    border-right:solid 1px #eaeaea;
    color: #aaa;
    user-select :none;
    -o-user-select :none;
    -webkit-user-select :none;
    -moz-user-select: -moz-none;
    font-family: "Courier New", monospace;
    padding-top:7px;
}
table.blob {
    width:100%;
    border:solid 3px #eee;
    margin-bottom: 40px;
}
table.blob td {
    vertical-align: top;
}
table.blob td.ln span {
    display:block;
    text-align: right;
    line-height: 20px;
    padding-right: 5px;
    font-family: Incosolata, "Courier New",Courier,monospace;
    font-size: 14px;
}

div.markdown {
    word-break:break-all;
    margin-bottom:40px;
}

div.repo-title {
    display:block;
}

.repo-title h1 {
    float:left;
    margin-bottom:0;
    padding-bottom:0;
}
.repo-title p {
    margin:0;
    padding:0;
}
.repo-title p.help-clone {
    float:right;
    color: #999;
    font-family: Incosolata, "Courier New",Courier,monospace;
}