body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px 20px 15px;
  text-align: center;
}
#loader {
    color: #fff;
    float:left;
    display:none;
    margin-left: -30px;
    top: 0px;
}