<table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 35px;">&nbsp;</th>
        <th style="width: 280px;">File</th>
        <th>Message</th>
        <th style="width: 100px;">Last update</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="file in files">
        <td ng-if="!file.special">
            <i ng-if="file.directory" class="glyphicon glyphicon-folder-close"></i>
            <i ng-if="!file.directory" class="glyphicon glyphicon-file"></i>
        </td>
        <td ng-if="file.special">
            &nbsp;
        </td>
        <td ng-if="!file.special">
            <a ng-if="file.directory" ng-click="repositoryBrowse($event);" href="./Repository.action?name={{ repoName }}&amp;branch={{ branch }}&amp;path={{ path }}/{{ file.path }}">{{ file.path }}</a>
            <a ng-if="!file.directory" href="./Blob.action?name={{ repoName }}&amp;branch={{ branch }}&amp;path={{ path }}/{{ file.path }}">{{ file.path }}</a>
        </td>
        <td ng-if="file.special">
            <a ng-if="file.realpath != ''" ng-click="repositoryBrowse($event);" href="./Repository.action?name={{ repoName }}&amp;branch={{ branch }}&amp;path={{ file.realpath }}">{{ file.path }}</a>
            <a ng-if="file.realpath == ''" ng-click="repositoryBrowse($event);" href="./Repository.action?name={{ repoName }}&amp;branch={{ branch }}">{{ file.path }}</a>
        </td>
        <td ng-if="!file.special" class="commit-txt"><a href="./Commit.action?name={{ repoName }}&amp;hash={{ file.lastCommit.hash }}" style="color:inherit">{{ file.lastCommit.message }}</a> [<a href="#">{{ file.lastCommit.author }}</a>]</td>
        <td ng-if="file.special">&nbsp;</td>
        <td>{{ file.lastCommit.date }}</td>
      </tr>
    </tbody>
</table>